.element {
    border: 1px solid cornflowerblue;
    height: min-content;
    width: calc(45px + 0.7rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.7rem;
    background-color: none;
    transition:
        width 0.4s ease-in,
        background-color 0.4s ease-in;
}

.element h1:first-of-type {
    margin: -5px;
    font-family: "Elms Sans";
    font-size: 2rem;
}

.element p {
    margin: 0;
    font-family: "IBM Plex Mono";
}

p.atomic {
    text-align: left;
    font-size: 0.7rem;
    width: 90%;
}

.fullName {
    font-size: 0.7rem;
}

.mass {
    font-size: 0.5rem;
    text-align: center;
}

.reveal {
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    transition:
        grid-template-rows 0.4s ease-in,
        opacity 1s ease-in;
}

.element:hover .reveal {
    grid-template-rows: 1fr;
    opacity: 1;
}

.element:hover {
    width: calc(45px + 0.7rem * 2 + 0.5rem);
    background-color: cornflowerblue;
}

.reveal > * {
    min-height: 0;
    overflow: hidden;
}
