.element {
    border: 1px solid cornflowerblue;
    aspect-ratio: 1;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.element h1 {
    margin: -5px;
    font-family: "Elms Sans";
}

.element p {
    margin: 0;
    font-family: "IBM Plex Mono";
}

p.atomic {
    text-align: left;
    width: 90%;
}

.element h1 {
    font-size: 2rem;
}

.fullName {
    opacity: 0.6;
    font-size: 0.7rem;
}

.mass {
    opacity: 0.6;
    font-size: 0.5rem;
}