nav {
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav p {
    font-family: "Elms Sans", sans-serif;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.menu div {
    font-family: "Elms Sans", sans-serif;
    height: 56px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 4px;
}

.menu div:hover {
    background-color: cadetblue;
    transition: background-color 1s ease-out 0.25s;
}

.menu img {
    height: 2rem;
}